<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ghibli">
  <title>Home | Craft Crawl</title>
  <link href="/images/favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <!-- Conditionally render login link with UNLESS-->
      {{#unless loggedIn}}
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      {{/unless}}
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>

  <header class="hero">
    <h1 class="app-title"><a href="/">Pub Crawler</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>


    <div class="row">
        <div class="col-12 container-fluid mt-2">
            <div class="card brewery-card bg-dark text-white text-center border-light h-100 no-flip">
              <h1>Please Login to start</h1>
                <img class="card-img" id="picture1" src="http://localhost:3001/images/roberta-keiko-kitahara-santana-RfL3l-I1zhc-unsplash.jpg"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title-breweries">Breweries</h5>
                    <p class="card-text">This is where new Breweries can click to add themselves to the list!</p>
                    <a href="https://www.google.com/" class="btn btn-transparent stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

    </div>
  <footer class="flex-row justify-center">
    &copy; Pub Crawler
  </footer>
</body>

</html>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}