<section class="form my-4 mx-5">
    <div class="container">
        <div class="row brewRow g-0">
            <div class="col-lg-5">
                <img src="http://localhost:3001/images/adam-wilson-I2f5BbeXPVY-unsplash.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Breweries</h1>
                <h4>Enter your information here</h4>
                <form>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="name" placeholder="Name of brewery" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="address" placeholder="Address" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="city" placeholder="City" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="link" placeholder="Website" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="button" class="btn1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>