<section class="form my-4 mx-5">
    <div class="container">
        <div class="row brewRow g-0">
            <div class="col-lg-5">
                <img src="http://localhost:3001/images/dylan-sauerwein-GCb0hd35DeE-unsplash.jpg" class="img-fluid"
                    alt="">
            </div>

           
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Sign up</h1>
                <h4>Enter your information here</h4>

                {{!-- <form class="card-body signup-form"> --}}

                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="form-input"  placeholder="Username" class="form-control my-3 p-4"
                                id="username-input-signup" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="form-input"  placeholder="Password" class="form-control my-3 p-4"
                                id="password-input-signup" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="button" type="submit" class="btn1">Sign up</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <br>
    <a href="/login">Login Instead</a>

</section>
      
<script src="/js/signup.js"></script>