<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label for="email-signup" class="form-label">Email</label>
        <input id="email-signup" type="text" class="form-input" />


        <label class="form-label" for="password-signup">Password</label>
        <input id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn">Signup!</button>
        <a class="login-link" href="/login">Log in</a>
    </form>
</div>

<script src="/javascript/signup.js"></script>